<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Burger Online</title>
        <meta charset="utf-8"/>
    </head>
    <body>
      <main>
	<section>
	  <h1> Welcome to BurgerOnline </h1>
	  <h2> Our selection </h2>
	  <p> Here are our burgers: </p>
	  <h3>Double Bacon</h3>
	  <img src = "https://www.max.se/contentassets/96a590c660f54c8b83bc5080b036fecf/product_gdl-umami-bacon-burger2.jpg" width = 350 >
	  <ul>
	    <li> Loaded with crispy bacon </li>
	    <li> 2000 kcal </li>
	    <li> Contains meat </li>
	  </ul>
	  <dl>
	    <dt> Allergies: </dt>
	    <dd> Nuts/Gluten </dd>
	  </dl>
	</section>
	<section>
	  <h2> Information </h2>
	  <p> Customer Information: </p>
	</section>
      </main>
      <footer> Hypothetical Burgers Inc</footer>
    </body>
</html>

