@media screen and (max-width:800px) {
    h1{
	font-size: 6vw;
    }
}

body {
    font-family: arial;
    font-size: 1.25em;
}

#allergy {
    font-weight: bold;
}

.burgers{
    color: white;
    background-color: black;
    border: 5px dashed white;
}

.header {
    margin: 15px;
    height: 150px;
}

#htext {
    position: absolute;
    padding: 35px 700px;
    opacity: 1;
}

#himg {
    opacity: 0.25;
}
.info {
    border: 5px dashed black;
}

.infoc {
    margin: 30px;
}
.button {
    padding: 15px 45px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color:#4CAF50;
    border: none;
    margin: 30px 10px;
}

.column{
    float: left;
    width: 20%;
}
.row:after {
    content:"";
    display: table;
    clear: both;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 400px 400px 400px;
    background-color: black;
    color: white;
    padding-left: 30px;
}

.a {
    grid-column: 1;
    grid-row: 1;
}

.b {
    grid-column: 2;
    grid-row: 1;
}

.c {
    grid-column: 3;
    grid-row: 1;
}



.button:hover{background-color: #3e8e41}

table{
    border: 1px solid black;
    width: 80%;
    text-align:center;
}

section {
    margin: 50px 10px;
}

.table_wrapper {
    display: grid;
    grid-gap: 50px;
    text-align: center;
    grid-template-columns: 300px 300px 300px ;
}
